docopt==0.6.2
imageio==2.4.1
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
matplotlib==3.0.0
notebook==5.7.0
numpy==1.15.2
pickleshare==0.7.5
scikit-image==0.14.1
opencv-python==3.4.2